.registration{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration__logo{
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 44px;
}
.registration__information{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.registration__information > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.registration__information > form > h5 {
    margin-bottom: 5px;
}
.registration__information > form > input {
    height: 30px;
    margin-bottom: 20px;
    background-color: white;
    width: 98%;
}
.registration_createaccountbutton{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
}
